In [4]:
import pandas as pd
import sqlite3 
import datetime

In [3]:
con = sqlite3.connect('/home/malcolm/petfinder/data/petfinder.db')
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall()

[('dog_10475_30mi',), ('cat_10475_30mi',)]

In [5]:
today = datetime.datetime.now()
today_str = str(datetime.datetime.now().date())
two_weeks = today - datetime.timedelta(days=7)
two_weeks_str = str(two_weeks.date())

In [6]:
data = pd.read_sql(f"""
select * from dog_10475_30mi
where date_saved between '{two_weeks_str}' and '{today_str}'
""" , con)
print(data.shape)
data.head()

(2284, 50)

,id,organization_id,url,type,species,age,gender,size,coat,tags,...,contact.address.address1,contact.address.address2,contact.address.city,contact.address.state,contact.address.postcode,contact.address.country,animal_id,animal_type,primary_photo_cropped,date_saved
0,52224330,NY1445,https://www.petfinder.com/dog/boone-52224330/n...,Dog,Dog,Baby,Male,Medium,None,"0 [High energy, playf...",...,None,None,Fresh Meadows,NY,11365,US,52224330,dog,None,2021-07-03
1,52223836,NY1445,https://www.petfinder.com/dog/thor-52223836/ny...,Dog,Dog,Young,Male,Small,Long,"0 [High energy, playf...",...,None,None,Fresh Meadows,NY,11365,US,52223836,dog,None,2021-07-03
2,52223812,NY1445,https://www.petfinder.com/dog/zeus-52223812/ny...,Dog,Dog,Baby,Male,Medium,None,"0 [High energy, playf...",...,None,None,Fresh Meadows,NY,11365,US,52223812,dog,None,2021-07-03
3,52223615,NY1506,https://www.petfinder.com/dog/scruffy-nyc-5222...,Dog,Dog,Adult,Male,Large,None,"0 [High energy, playf...",...,None,None,New York,NY,10013,US,52223615,dog,None,2021-07-03
4,52223614,NY1506,https://www.petfinder.com/dog/sena-atl-5222361...,Dog,Dog,Baby,Female,Small,None,"0 [High energy, playf...",...,None,None,New York,NY,10013,US,52223614,dog,None,2021-07-03

In [7]:
data.columns

Index(['id', 'organization_id', 'url', 'type', 'species', 'age', 'gender',
       'size', 'coat', 'tags', 'name', 'description', 'organization_animal_id',
       'photos', 'videos', 'status', 'status_changed_at', 'published_at',
       'distance', 'breeds.primary', 'breeds.secondary', 'breeds.mixed',
       'breeds.unknown', 'colors.primary', 'colors.secondary',
       'colors.tertiary', 'attributes.spayed_neutered',
       'attributes.house_trained', 'attributes.declawed',
       'attributes.special_needs', 'attributes.shots_current',
       'environment.children', 'environment.dogs', 'environment.cats',
       'primary_photo_cropped.small', 'primary_photo_cropped.medium',
       'primary_photo_cropped.large', 'primary_photo_cropped.full',
       'contact.email', 'contact.phone', 'contact.address.address1',
       'contact.address.address2', 'contact.address.city',
       'contact.address.state', 'contact.address.postcode',
       'contact.address.country', 'animal_id', 'animal_type',
       'primary_photo_cropped', 'date_saved'],
      dtype='object')

In [8]:
data['status'].value_counts()

adoptable    2284
Name: status, dtype: int64

In [9]:
status_change = data[data['status_changed_at'] != data['published_at']]
status_change.shape

(260, 50)

In [10]:
data['colors.secondary'].value_counts()

White / Cream                       329
Yellow / Tan / Blond / Fawn         101
Brown / Chocolate                    44
Black                                41
Red / Chestnut / Orange              23
Brindle                              11
Gray / Blue / Silver                 11
Golden                               10
Tricolor (Brown, Black, & White)      9
Bicolor                               6
Apricot / Beige                       4
Sable                                 3
Harlequin                             1
Merle (Blue)                          1
Merle (Red)                           1
Name: colors.secondary, dtype: int64